* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -webkit-pictograph;
  transition: all 0s ease;
  user-select: none;
}
.fa-pencil-square-u::before {
  content: "\f044";
  font-family: "FontAwesome";
}
.hide {
  display: none !important;
  color: #eeeeee;
}
html {
  font-size: 62.5%;
}
body {
  min-height: 100vh;
  background-color: white;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  height: 3.5rem;
  width: 100%;
  background-color: #ff5a01;
  display: grid;
  place-items: center;
  font-size: 2rem;
  font-weight: 600;
  color: white;
  font-family: -webkit-pictograph;
  z-index: 100;
}
section {
  position: fixed;
  top: 3.5rem;
  bottom: 1.7rem;
  width: 100%;
  display: flex;
}
footer {
  height: 1.7rem;
  background: rgb(197, 197, 197);
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  line-height: 1.7rem;
  font-size: 1.5rem;
  color: #ff5a01;
  font-family: cursive;
  transition: all 0.4s ease;
}
/* Applies to all tooltips */
[tooltip]::after {
  font-size: 1rem;
  position: absolute;
  display: none;
  opacity: 0;
}
[tooltip]::after {
  content: attr(tooltip);
  white-space: nowrap;
  font-family: Helvetica, sans-serif;
  min-width: 3rem;
  max-width: 21rem;
  padding: 1ch 1.5ch;
  box-shadow: 5px 5px 10px -6px rgb(0 0 0 / 63%);
  background: #fff;
  color: #f39c1a;
  z-index: 1000; /* absurdity 2 */
  border-radius: 5px;
  border: 1px solid #ff5a01;
}

[tooltip]:hover::after {
  display: block;
}
[tooltip=""]::after {
  display: none !important;
}

[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
  bottom: calc(100% + 5px);
  left: 50%;
  transform: translate(-50%, -0.5rem);
}

[tooltip][flow^="down"]::after {
  top: calc(100% + 5px);
  left: 50%;
  transform: translate(-50%, -0.5rem);
}

[tooltip][flow^="left"]::after {
  top: 50%;
  right: calc(100% + 5px);
  transform: translate(-0.5rem, -50%);
}

[tooltip][flow^="right"]::after {
  top: 50%;
  left: calc(100% + 5px);
  transform: translate(0.5rem, -50%);
}

[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::after {
  animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::after {
  animation: tooltips-horz 300ms ease-out forwards;
}

/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: 0.9;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: 0.9;
    transform: translate(0, -50%);
  }
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 60%;
  }
}
@media only screen and (max-width: 720px) {
  html {
    font-size: 55%;
  }
  .sidebar ul li {
    font-size: 3rem;
  }
}
.anim {
  animation: anim 0.6s ease;
}
@keyframes anim {
  0% {
    position: relative;
    z-index: 1;
    opacity: 1;
  }
  100% {
    position: absolute;
    top: -150px;
    z-index: -50;
    opacity: 0;
  }
}
